.button {
    border: 1px solid darkblue;
    margin-right: 0.7em;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s;
}

.button.true,
.button:hover {
    background-color: #8585c4;
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.button:disabled {
    background-color: lightgray;
    color: gray;
    border-color: gray;
    cursor: not-allowed;
}